<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item text-center">
        <a class="nav-link {{loginActive}} btl btn" id="pills-home-tab" data-toggle="pill" role="tab"
          aria-controls="pills-home" aria-selected="false" (click)="tab('login')">Login</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link btr {{signupActive}} btn" id="pills-profile-tab" data-toggle="pill" role="tab"
          aria-controls="pills-profile" aria-selected="true" (click)="tab('Signup')">Signup</a>
      </li>
    </ul>


    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade {{loginShow}}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="form px-4 pt-5">
          <input type="text" name="" class="form-control" #username placeholder="Username">
          <input type="text" name="" class="form-control" #password placeholder="Password">
          <button class="btn btn-dark btn-block" (click)="login(username.value, password.value)">Login</button>
        </div>
      </div>


      <div class="tab-pane fade {{signupShow}}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="form px-4">
          <input type="text" name="" class="form-control" #user placeholder="Username">
          <input type="text" name="" class="form-control" #email placeholder="Email">
          <input type="text" name="" class="form-control" #pass placeholder="Password">
          <input type="text" name="" class="form-control" #pass2 placeholder="Confirm Password">
          <button class="btn btn-dark btn-block" (click)="signup(user.value, email.value, pass.value, pass2.value)">Signup</button>
        </div>
      </div>
    </div>
  </div>
</div>